﻿@model IEnumerable<TestMVC4.Models.ViewModel.TblEmployeeVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId  }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeId  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId  })

             
            <!--\\\\\\\\ reload after delete by Ajax \\\\\\\\\ -->
            @Ajax.ActionLink( "ลบ", "Delete", 
            new { id = item.EmployeeId }, 
            new AjaxOptions { HttpMethod = "POST", Confirm = "ยืนยันลบข้อมูล?", OnComplete = "deleteComplete" },
            new { @class = "btnDefault" }
            ) 
            <script > 
               function deleteComplete() {
                        window.location.reload();
             }
            </script>   
                  
        </td>
    </tr>
}

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
