﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

<!--///// CSS Custom ///// -->  
<link href="~/Content/442styles/reset.css" rel="stylesheet" />
<link href="~/Content/442styles/fontface.css" rel="stylesheet" /> 
<link href="~/Content/442styles/crudMVC4.css" rel="stylesheet" /> 
     
 
<!-- ////// Script MVC4  //// 
<script src="~/Scripts/jquery-1.9.1.min.js"></script>  
<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script> 
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script
--> 

</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
