/*//================== Layout */
html,body { /*overflow-x: hidden;*/ /* Prevent scroll on narrow devices *//*height: 700px;*/}
body {  color: #000; margin: 0px; padding: 0px; font-size: 13px; font-family: Tahoma, Verdana, Arial; 
background-color: #9d1110;
}
p { margin-bottom: 5px; color:#fff;  }
ul, li, ol { margin: 0px; padding: 0px; } 
a { color: #F90; margin: 0px; }
a:hover { color: #F90;text-decoration:underline ; } 
h1,h2,h3 { margin-top: 0px; margin-bottom: 0px;  font-family: 'DotFont'; }
img {border:none ;}
h1 { /* font-size:23px; */ /* font-family: 'DBHelvethaicaX45Li'; */ /* color: #fff; */ font-size: 23px;  font-family: RSULight;  color: #E73509;}
h2 { /* font-size: 30px; */ font-family: 'DBHelvethaicaX45Li'; /* text-align: center; */}
canvas { font-family: 'DotFont'; font-size: 50px;   }
ul,li , ol {  margin: 0px; padding: 0px;   color: #fff;}
.clear { clear: both; }
.containerHeader { margin: 0px auto; background: linear-gradient( 0deg, #690707 0%, #410404 50% ); background-color: #550000; height: auto !important;   clear: both; margin: 0px auto; }
header {  width: 100%; position:relative ;}
#outer-container { background: url(../../images/fontend/bg-event.jpg) no-repeat center top; }
#container { width: 1280px; width: 990px; margin: 0px auto; background-color:#FDF6DA;   margin: 0px auto; 
            height: auto !important;  
 height: 500px;  min-height: 500px;
background: linear-gradient( 0deg, #D81414 0%,  #490E0E100% );
 background-color: #490E0E; }

#inner-container  { background-color: #FFF; }
#wrapper { /* border:1px #fff solid; */  padding: 10px;   height: auto !important; height: 600px;  min-height: 600px;}
#sideLeft { float:left; margin-right:5px; }
#sideRight { float:left; }
.boxSocial { position:absolute;  right: 15px;  top: 80px;}
/*footer { height: 50px; display: block; margin-bottom: 20px; padding-top: 20px; width: 870px; }
footer .footlink { margin-bottom: 10px; clear: both; height: 30px; text-align: center; margin: 0px auto; display: block; width: 500px; }
footer .footlink li { float: left; font-size: 12px; }
footer .footlink li a { text-align: center; padding: 0px 5px; color: #2852cd; }
footer .footlink li a:hover { color: #24439d; }
footer .copy { color: #525253; font-size: 11px; float: left; text-align: center; margin-bottom: 10px; }
footer .policy { margin-bottom: 5px; float: right; font-size: 11px; }
footer .policy li { float: left; }
footer .policy a { color: #525253; padding: 0px 5px; }
footer .policy a:hover { color: #ccc; }*/
